

client
client_epoll_bench
client_epoll_verify
client_test_epollout

server
server_epoll
server_epoll_bench
server_epoll_reuseport
server_epoll_handle
server_epoll_handle_c
server_poll_handle
server_epoll_et
server_epoll_et_ref
server_epollout
server_epollout_handle
server_epollout_response
server_epollout_simple
server_epollout_ref
